.cards{
    padding:30px 28px;
    border-bottom: 1px solid  rgb(220, 220, 220);
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.article{
    text-align: left;
    margin-top: 25px;
}

.postfoot {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size:12px;

}


.posttype{
    color: #56bbee;
    display: inline;
}

.postinfo  {

}